#Prueba de evalauacion de conocimiento

## Tipos de datos
1. Numero
1.1 Entero: Int
1.2 Decimal: float

2. Alfanumerico o cadena de caracteres.
(String - str)
3. Logico : Boolean - bool
4. listas: list []
5. diccionarios: dict {}

para saber que tipo de datos manipulamos se usa la funcion type ()

In [ ]:
5 + 3 * 4

17

In [ ]:
type(5 +3*4)

int

In [ ]:
print(f"5+3*4={5+3*4} y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4=17 y da como resultado un valor de tipo <class 'int'>

In [ ]:
#Cuando se usa suma en strings, sucede la concatenacion
"5"+"3"*2

'533'

In [ ]:
# = es asignacion, y  == es comparacion
2 ** 11 == 1000

False

#Operaciones logicas
1. Disyuncion (o) : Una proposicion es verdadera si al menos una de ella, lo es. En python se puede enunciar con la palabra **or** o con **//**
Ejemplo: V OR V da V. V or F da V, F or F da F

2. Conjuncion (y): Una preposicion es verdad, SI Y SOLO SI, ambas preposiciones son verdaderaas. En Oython se utilizan la palabra **and** o **&&** para su uso
Ejemplo F OR V da F, F OR F da F, V OR V da V

3. Negacion: (no): Niega el calor de verdad en una proposicion. Si el valor verdadero de verdad es true, se vuelve false. En python se utliza la palabra **not** o ~ para denotarla

In [ ]:
a=2 ** 11 == 1000 or 2**9 == 100

In [ ]:
print(f"El valor de la expresion a=2 ** 11 == 1000 or 2**9 == 100 es {a}")

El valor de la expresion a=2 ** 11 == 1000 or 2**9 == 100 es False

In [ ]:
#Colocar un tipo de dato por fuera del dato, se usa para transformar el dato dentro del parentesis en el daro por fuera del parentesis
#Por lo tanto esto da ERROR
int("cincuenta")

In [ ]:
int("50")

50

In [ ]:
str("50")

'50'

In [ ]:
#Simepre que halla una division, el resultado dara flotante o decimal
16/16 + 384/24

17.0

In [ ]:
a= 16/16 + 384/24

In [ ]:
print(f"la operacion 16/16 + 384/24 es {a} y es de tipo {type(16/16 + 384/24)} ")

la operacion 16/16 + 384/24 es 17.0 y es de tipo <class 'float'>

In [ ]:
#Da ERROR por que python no lee el porcentaje asi lo lee en MOD
600 + 18%

In [ ]:
0 < (4096 % 10) > 6

False

In [ ]:
"Max" + "Min"

'MaxMin'

In [ ]:
a= "Max" + "Min"

In [ ]:
print(f"la operacion 'Max' + 'Min' es {a} y es de tipo {type('Max' + 'Min')}")

la operacion 'Max' + 'Min' es MaxMin y es de tipo <class 'str'>

In [ ]:
#ABC () Es una funcion no definida
ABC() * DEF()

Abs(len('seis') - len ('tres'))

1. abs =valor absoluto
2. len = cuenta la cantidad de letras de un string

- len('seis')=4
- len('tres')=4

In [ ]:
abs(len('seis') - len ('tres'))

In [ ]:
#Todos los numeros a excepcion de 0  da true al convertirlos a booleanos
bool(1210)

True