In [ ]:

fecha_nacimiento_usuario = [2006, 7, 6]
fecha_nacimiento_familiar = [1976, 4, 6]

nombre_usuario = "Maria Paz"
nombre_familiar = "Marcia"


lista1 = fecha_nacimiento_usuario + fecha_nacimiento_familiar
lista2 = [nombre_usuario, nombre_familiar]

diccionario = {
    "Fecha de nacimiento de " + nombre_usuario: fecha_nacimiento_usuario,
    "Fecha de nacimiento de " + nombre_familiar: fecha_nacimiento_familiar
}

print("Lista 1 (Fechas de nacimiento):", lista1)
print("Lista 2 (Nombres):", lista2)
print("Diccionario (Fecha de nacimiento y nombres):", diccionario)

Lista 1 (Fechas de nacimiento): [2006, 7, 6, 1976, 4, 6]
Lista 2 (Nombres): ['Maria Paz', 'Marcia']
Diccionario (Fecha de nacimiento y nombres): {'Fecha de nacimiento de Maria Paz': [2006, 7, 6], 'Fecha de nacimiento de Marcia': [1976, 4, 6]}

#Definicion: lista
Una lista en Python es una colección de elementos ordenados que pueden ser de cualquier tipo (números, cadenas, otros objetos) y se identifican mediante un índice. Las listas en Python son mutables, lo que significa que se pueden modificar después de haber sido creadas.

#append():
 Añade un elemento al final de la lista.

In [ ]:
lista = [1, 2, 3]
lista.append(4)
print(lista)  # Resultado: [1, 2, 3, 4]

[1, 2, 3, 4]

#insert():
 Inserta un elemento en una posición específica.

In [ ]:
lista = [1, 2, 3]
lista.insert(1, "a")
print(lista)  # Resultado: [1, "a", 2, 3]

[1, 'a', 2, 3]

#remove():
Elimina la primera aparición de un elemento específico.

In [ ]:
lista = [1, 2, 3, 2]
lista.remove(2)
print(lista)  # Resultado: [1, 3, 2]

[1, 3, 2]

#pop():
Elimina y devuelve el elemento en la posición especificada (o el último si no se especifica).

In [ ]:
lista = [1, 2, 3]
lista.pop()
print(lista)  # Resultado: [1, 2]

[1, 2]

#index():
 Devuelve el índice de la primera aparición del valor especificado.

In [ ]:
lista = [1, 2, 3, 2]
print(lista.index(2))  # Resultado: 1

1

#count():
 Devuelve el número de veces que aparece un valor en la lista.

In [ ]:
lista = [1, 2, 2, 3]
print(lista.count(2))  # Resultado: 2

2

#sort():
Ordena los elementos de la lista en su lugar (por defecto en orden ascendente).

In [ ]:
lista = [3, 1, 2]
lista.sort()
print(lista)  # Resultado: [1, 2, 3]

[1, 2, 3]

#reverse():
Invierte el orden de los elementos de la lista.

In [ ]:
lista = [1, 2, 3]
lista.reverse()
print(lista)  # Resultado: [3, 2, 1]

[3, 2, 1]

#extend():
Añade todos los elementos de una lista a otra.

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5]
lista1.extend(lista2)
print(lista1)  # Resultado: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

#clear():
Elimina todos los elementos de la lista.

In [ ]:
lista = [1, 2, 3]
lista.clear()
print(lista)  # Resultado: []

[]

#Diccionarios
Un diccionario en Python es una estructura de datos que almacena pares de clave-valor, donde cada clave es única y se utiliza para acceder a su valor asociado. Se define usando llaves {} y permite una búsqueda eficiente de valores mediante sus claves.

In [1]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.get:Este método devuelve el valor de una clave. Si la clave no existe, devuelve un valor por defecto (opcional).

valor = datos.get('año_nacimiento_1')
print(valor)

valor_inexistente = datos.get('año_nacimiento_3', 'No existe')
print(valor_inexistente)

2006
No existe

In [2]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.keys:Devuelve una vista de todas las claves del diccionario.

claves = datos.keys()
print(claves)

dict_keys(['año_nacimiento_1', 'mes_nacimiento_1', 'dia_nacimiento_1', 'año_nacimiento_2', 'mes_nacimiento_2', 'dia_nacimiento_2'])

In [3]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.values:Devuelve una vista de todos los valores del diccionario.

valores = datos.values()
print(valores)

dict_values(['2006', '02', '13', '1980', '06', '09'])

In [4]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '02',
    'dia_nacimiento_1': '13',
    'año_nacimiento_2': '1980',
    'mes_nacimiento_2': '06',
    'dia_nacimiento_2': '09'
}

#dict.items:Devuelve una vista de los pares clave-valor del diccionario como tuplas.

elementos = datos.items()
print(elementos)

dict_items([('año_nacimiento_1', '2006'), ('mes_nacimiento_1', '02'), ('dia_nacimiento_1', '13'), ('año_nacimiento_2', '1980'), ('mes_nacimiento_2', '06'), ('dia_nacimiento_2', '09')])

In [7]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.update:Actualiza el diccionario con los elementos de otro diccionario o pares clave-valor.

datos.update({'dia_nacimiento_1': '14'})
print(datos['dia_nacimiento_1'])

14

In [8]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.pop:Elimina un elemento del diccionario y devuelve su valor. Si la clave no existe, puedes proporcionar un valor por defecto.

valor_eliminado = datos.pop('mes_nacimiento_2')
print(valor_eliminado)
print(datos)

04
{'año_nacimiento_1': '2006', 'mes_nacimiento_1': '07', 'dia_nacimiento_1': '06', 'año_nacimiento_2': '1976', 'dia_nacimiento_2': '06'}

In [9]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.clear:Elimina todos los elementos del diccionario.

datos_vacios = datos.copy()
datos_vacios.clear()
print(datos_vacios)

{}

In [10]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}


#dict.copy:Devuelve una copia superficial del diccionario.

datos_copia = datos.copy()
print(datos_copia)

{'año_nacimiento_1': '2006', 'mes_nacimiento_1': '07', 'dia_nacimiento_1': '06', 'año_nacimiento_2': '1976', 'mes_nacimiento_2': '04', 'dia_nacimiento_2': '06'}

In [11]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.setdefault:Devuelve el valor de una clave si existe; de lo contrario, inserta la clave con un valor por defecto.

mes = datos.setdefault('mes_nacimiento_3', '08')
print(datos)

{'año_nacimiento_1': '2006', 'mes_nacimiento_1': '07', 'dia_nacimiento_1': '06', 'año_nacimiento_2': '1976', 'mes_nacimiento_2': '04', 'dia_nacimiento_2': '06', 'mes_nacimiento_3': '08'}

In [12]:
datos = {
    'año_nacimiento_1': '2006',
    'mes_nacimiento_1': '07',
    'dia_nacimiento_1': '06',
    'año_nacimiento_2': '1976',
    'mes_nacimiento_2': '04',
    'dia_nacimiento_2': '06'
}

#dict.fromkeys:Crea un nuevo diccionario con las claves dadas y un valor por defecto (opcional).

nuevas_claves = ['clave_1', 'clave_2', 'clave_3']
nuevo_diccionario = dict.fromkeys(nuevas_claves, 'valor_por_defecto')
print(nuevo_diccionario)

{'clave_1': 'valor_por_defecto', 'clave_2': 'valor_por_defecto', 'clave_3': 'valor_por_defecto'}